/**
 * Elements
 */

body {
	font-family: arial;
	font-size: 16px;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	width: 100%;
}

/**
 * Article
 */
 
.article {
	background: rgb(250, 250, 250);
	border: 1px solid rgb(220, 220, 220);
	border-radius: 0.5rem;
	margin: 1rem auto;
	padding: 1.25rem;
	box-sizing: border-box;
	width: 1000px;
}

.article-title {
	margin: 0;
	padding: 0;
}

.article-text {
	line-height: 1.5;
	margin: 0.5rem 0;
	padding: 0;
}

/**
 * Header
 */
		
.header {
	background: rgb(100, 200, 200);
	border-radius: 0 0 0.5rem 0.5rem;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}
		
.header-btn,
.header-title {
	display: inline-block;
	vertical-align: middle;
}
		
.header-btn {
	margin: 0.5rem;
	padding: 0.5rem;
}

.header-title {
	color: rgb(60, 60, 60);
	margin: 0;
	padding: 0;
}


/**
 * Navigation
 */
		
.nav,
.nav-anchor,
.nav-el {
	box-sizing: border-box;
}

.nav {
	background: rgb(20, 20, 20);
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 12rem;
	z-index: 0;
}

.nav-anchor {
	font-size: 1.2rem;
	display: block;
	margin: 0;
	padding: 0.5rem 1rem;
}

.nav-anchor:active,
.nav-anchor:hover,
.nav-anchor:link,
.nav-anchor:visited {
	color: rgb(200, 200, 200);
	font-weight: bold;
	text-decoration: none;
}

.nav-anchor:hover {
	background: rgb(80, 80, 80);
}

.nav-el {
	margin: 0 auto;
	padding: 0;
}

/**
 * Wrapper
 */
		
	.wrapper {
	background: rgb(240, 240, 240);
	display: block;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	transition: all 0.25s ease;
	width: 100%;
	z-index: 10;
}

.wrapper.isActive {
	transform: translateX(12rem);
}
